bidict
click
flask
flask-socketio
gitpython
itsdangerous
jinja2
loguru
markupsafe
numpy
opencv-python
opencv-contrib-python
python-engineio
python-socketio
PySide6
pandas
paramiko
pywinpty; platform_system == "Windows"
werkzeug